@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap'); // font for logo
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Ubuntu+Mono&display=swap'); //Font for title and general text

:root{
  --font-text: 'Ubuntu Mono', monospace;
  --font-title: 'Rubik Mono One', sans-serif;
  --bg-primary: #e8e8e8;
  --bg-secondary: #222;
  --cl-text-primary: #000000;
  --cl-text-secondary: #e6e6e6;
  --w-container: 95%;
  --px-container: 0;
  --p-btn: 5px 8px;
  --m-t-title: 10px;
  --w-title-section: 20px;
  @include respond(tab-land){
    --p-btn: 8px 10px;
    --m-t-title: 20px;
    --w-title-section: 30px;
  }
  @include respond(desktop){
    --w-container: 95%;
    --p-btn: 8px 14px;
    --m-t-title: 25px;
    --w-title-section: 50px;
  }
  // Header
  --ff-logo: 'Rubik Burned', cursive;
  --pt-header: 20px;
  --dp-menu: none;
  --ps-logo: relative;
  --left-logo: 0;
  --trlY-logo: 0;
  --vsb-icon-left: visible;
  --ps-menu: fixed;
  --fl-dr-menu: column;
  --w-menu: 100%;
  --h-menu: 100%;
  --pt-menu: 100px;
  --bg-menu: rgba(0, 0, 0, 0.563);
  --bg-ulmenu: #fefefe;
  --w-ulmenu: fit-content;
  --dp-icon-bag: none;
  --trl-ulmenu: -100%;
  --w-ul: 50vw;
  --ps-ul: absolute;
  @include respond(desktop){
    --dp-menu: block;
    --ps-logo: absolute;
    --pt-header: 40px;
    --left-logo: 50%;
    --trlY-logo: -50%;
    --vsb-icon-left: hidden;
    --ps-menu: relative;
    --fl-dr-menu: row;
    --w-menu: auto;
    --h-menu: auto;
    --pt-menu: 0;
    --bg-menu: transparent;
    --bg-ulmenu: transparent;
    --w-ulmenu: 60vw;
    --dp-icon-bag: block;
    --trl-ulmenu: 0;
    --w-ul: 100%;
    --ps-ul: relative;
  };
  
  //Banner
  --line-height-banner: 0.8;
  @include respond(desktop){
    --line-height-banner: 1.3;
  }
  @include respond(tab-land){
    --line-height-banner: 1;
  }


  // newest Post
  --flex-d-post: column;
  --m-t-post: 20px;
  --opct-img-post: .9;
  --p-content-post: 0 15px;
  --h-item-post: 45vw;
  --p-meta-post: 10px;
  --fz-title-post: calc(15px + 1.3vw);
  --fz-meta-post: 10px;
  --cl-content-post: #e6e6e6;
  --bg-item-post: #e6e6e63e;
  @include respond(tab-land){
    --flex-d-post: row;
    --m-t-post: 30px;
    --p-content-post: 0 25px;
    --h-item-post: 30vw;
    --p-meta-post: 10px;
    --fz-title-post: calc(13px + 1.3vw);
    --fz-meta-post: 10px;
    --opct-img-post: 0;
    --cl-content-post: inherit;
  }
  @include respond(desktop){
    --flex-d-post: row;
    --m-t-post: 40px;
    --p-content-post: 0 35px;
    --h-item-post: 25vw;
    --p-meta-post: 15px;
    --fz-title-post: calc(13px + 1.3vw);
    --fz-meta-post: 15px;
    --opct-img-post: 0;
    --cl-content-post: inherit;
  }

  // product - sidebar
  --fd-container-product-sidebar: column;
  @include respond(tab-land){
    --fd-container-product-sidebar: column;
  }
  @include respond(desktop){
    --fd-container-product-sidebar: row;
  }
}
