.is-active{
    // background: linear-gradient( to top, #f64f59, #c471ed, #12c2e9);
    color: var(--cl-pink);
    text-shadow: 0 0 7px #fc6c8f, 0 0 15px #ff2ced, 0 0 50px #ff0084;
  }
.my-account-page {
    display: grid;
    grid-template-columns: var(--grid-temp-cl-my-account-page);
    box-sizing: border-box;
    gap: 2%;
    // margin-top: var(--m-t-post);
    box-sizing: border-box;
    overflow: hidden;
}

.woocommerce-MyAccount-navigation {
    background-color: inherit;
    border-right: var(--border-right-nav-my-account);
    border-radius: 10px;

    & ul {
        display: flex;
        flex-direction: var(--flex-direc-my-account-page);
        list-style: none;
        flex-wrap: wrap;

        & li {
            padding: var(--p-nav-item-my-account);
            display: flex;
            justify-content: left;
            align-items: center;
            border-radius: 10px;
            & a {
                color: inherit;
                text-transform: capitalize;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                @include animate_underline;

                &::before {
                    @include animate_underline_before(currentColor);
                }

                &:hover::before {
                    @include animate_underline_hover_before;
                }

                & ion-icon {
                    font-size: var(--fz-icon-nav-my-account);
                    display: var(--display-icon-nav-my-account);
                }

                & span {
                    display: var(--display-text-nav-my-account);
                }
            }
        }
    }
}

.woocommerce-orders-table__cell-order-number a {
    color: inherit;
}

.woocommerce-customer-details address {
    border: 1px solid var(--cl-border) !important;
}

// Dowload part
.woocommerce-info {
    border-top-color: var(--cl-pink) !important;
    background-color: inherit !important;
    color: inherit !important;
}

// Address part
.woocommerce-Address header {
    border-bottom: 1px dotted currentColor;

    & h3 {
        font-weight: 600;
    }

    & a {
        color: inherit;
    }
}

.woocommerce-Address {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--cl-border);
    margin-top: 20px;
}

// Checkout page
.select2-dropdown--above {
    background-color: var(--bg-secondary) !important;
    color: var(--cl-text-secondary) !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-selection--single .select2-selection__arrow {
    color: var(--cl-text-secondary) !important;
    background-color: var(--bg-secondary);
}

.select2-results__option[aria-selected], .select2-results__option[data-selected] {
    background-color: inherit;
}

.select2-container {
    background-color: inherit;
}

.select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option[data-selected=true] {
    background-color: inherit !important;
    color: var(--cl-pink);
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background-color: inherit !important;
}

.select2-container--default .select2-selection--single{
  overflow: hidden;
  position: relative;
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected]{
  border: 1px solid var(--cl-pink);
  color: var(--cl-pink);
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
  line-height: inherit !important;
}

.woocommerce-MyAccount-content form fieldset{
  padding: 20px 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

// Privacy policy link 
.woocommerce-privacy-policy-link{
    color: inherit;
}

// registration form
.woocommerce-password-strength{
    &.short{
        background-color: inherit !important;
        border-color:var(--cl-border) !important;
        color: #e35b5b !important;
    }
    &.bad{
        background-color: inherit !important;
        border-color:var(--cl-border) !important;
        color: #f78b53 !important;
    }
    &.good{
        background-color: inherit !important;
        border-color:var(--cl-border) !important;
        color: #ffc733 !important;
    }
    &.strong{
        background-color: inherit !important;
        border-color:var(--cl-border) !important;
        color: #83c373 !important;
    }
}